* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  scroll-behavior: smooth;
}
/*!Fuentes personalizadas*/
@font-face {
  font-family: "Righteous", cursive;
  src: url(Pagina\Fonts\RighteousYantramanav\Righteous\Righteous-Regular.ttf);
}
@font-face {
  font-family: "Yantramanav", sans-serif;
  src: url(Pagina\Fonts\RighteousYantramanav\Yantramanav\Yantramanav-Black.ttf);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Righteous", cursive;
}
body {
  font-family: "Yantramanav", sans-serif;
}

.contenedor {
  width: 90%;
  max-width: 1200px;
  overflow: hidden;
  margin: auto;
  padding: 60px 0;
}

header {
  height: 100vh;
  background-image: linear-gradient(
      -20deg,
      rgba(97, 97, 97, 0.616) 0%,
      rgba(1, 80, 207, 0.575) 100%
    ),
    url(Img/Logo.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
/*textos del background*/
.head {
  font-family: "Righteous", cursive;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  font-size: 35px;
}

.boton_nav {
  position: fixed;
z-index: 10;
  top: 30px;
  right: 0;
  margin-right: 15px;

  background: white;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border: 2px solid black;
  border-radius: 19px;
  box-shadow: 0px 10px 15px rgba(0, 4, 255, 0.575);
}
.menu-navegación {
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  width: 30vw;
  height: 100%;
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  transition: transform 0.3s ease-in-out;
  transform: translate(110%); /*Se escondio el menu de navegación*/
}
.spread {
  transform: translate(0);
}
.menu-navegación a {
  color: white;
  text-decoration: none;
}
.navbar-brand{
  color: black !important;
}
.header .titulo {
  font-size: 60px;
  margin-bottom: 15px;
}
.copy {
  font-weight: 300;
  font-size: 25px;
}
/*Nuestro servicio*/
.subtitulo {
  text-align: center;
  font-size: 40px;
  color: rgb(164, 233, 25);
  margin-bottom: 40px;
}
.contenedor-servicio {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.contenedor-servicio img {
  width: 40%;
}
.checklist-servicio {
  width: 45%;
}
.services {
  margin-bottom: 20px;
}
.n-service {
  margin-bottom: 7px;
  color: rgb(164, 233, 25);
}

.number {
  display: inline-block;
  background-image: linear-gradient(to top, #3e568c 0%, #c2fbd3 100%);
  width: 30px;
  height: 30px;
  color: #fff;
  text-align: center;
  border-radius: 50%;
  font-weight: 700;
  line-height: 30px;
}

/*!GALERIA*/
.root {
  padding: 15px;
}

.gallery {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 400px 400px;
  grid-gap: 5px 5px;
  font-size: 16px;
  max-width: 1200px;
  margin: auto;
}

.gallery__item {
  position: relative;
  cursor: pointer;
}


.gallery__img {
  display: block;
  padding: 5px;
  padding-top: 14px;
  width: 395px;
height: 390px;
}

.gallery__item:before, .gallery__item:after {
  position: absolute;
  transition: all .2s;
}

.gallery__item:before {
  color: #fff;
  font-size: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.gallery__item:hover:before {
  font-size: 1.5rem;
}

.gallery__item:after {
  display: block;
  content: '';
  top: 50%;
  bottom: 50%;
  left: 50%;
  right: 50%;
  background-color: rgba(0 ,0 , 0, .4);
  z-index: 1;
}

.gallery__item:hover:after {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.gallery__item:after, .gallery__item, .gallery__img {
  border-radius: 5px;
}

.gallery-lightbox {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0 ,0 , 0, .8);
  font-size: 16px;
  padding: 0 15px;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.gallery-lightbox.show {
  display: flex;
}

.gallery-lightbox__modal {
  position: relative;
  background-color: #fff;
  padding: 5px;
  max-width: 650px;
  border-radius: 5px;
}

.gallery-lightbox__img {
  display: block;
  width: 100%;
}

.gallery-lightbox__control {
  position: absolute;
  cursor: pointer;
}

.gallery-lightbox__control:before {
  display: block;
}

.gallery-lightbox__control.icon-close {
  top: -14px;
  right: -14px;
  padding: 5px;
  background-color: #fff;
  border-radius: 50%;
  font-size: .8rem;
}

.gallery-lightbox__control.icon-back, .gallery-lightbox__control.icon-next {
  top: 50%;
  font-size: 2rem;
  transform: translateY(-50%);
  color: #fff;
}

.gallery-lightbox__control.icon-back {
  left: 10px;
}

.gallery-lightbox__control.icon-next {
  right: 10px;
}

/*Todo: EXPERTOS*/
.experts{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.cont-expert{
  width: 30%;
  margin-bottom: 15px;
  text-align: center;
}

.cont-expert img{
  width: 80%;
  height: 350px;
  display: block;
  margin: 0 auto;

}
.n-expert{
  display: inline-block;
  margin-top: 20px;
  width: 100%;
  font-weight: 400;

}
/**Formulario*/
.Formularios{
  display: grid;
  grid-template-columns: 50% 500px;
  gap: 10px;
  margin-left: 90px;
}
.Formularios h2{
  text-align: center;
}
.Formularios p{
  text-align: center;
  font-family: "Yantramanav", sans-serif;
}
.Presentacion img{
  width: 100%;
  height: 100%;

}
.formulario_presentacion{
  font-family: "Yantramanav", sans-serif;
 
}
.conte_formu{
  
  margin-top: 15px;
margin-left: 20px;
font-family: "Yantramanav", sans-serif;


}
.conte_formu form input,
.conte_formu form button,
.conte_formu form textarea{
  width: 100%;
  height: 30px;
  padding: .7em;
  border: none;
  outline: none;
  border-bottom:2px solid #30cfd0 ;
} 

.conte_formu form select{
  width: 100%;
  height: 30px;
  border: none;
  outline: none;
  border-bottom:2px solid #30cfd0 ;
}
.conte_formu form textarea{
  min-height: 50px;
    min-width: 100%;
    max-width: 100%;
    max-height: 100px;
}
.conte_formu .btn_formulario{
  display: block;
  text-align: center;
  text-decoration: none;
  width: 120px;
  height: 40px;
  background: rgb(3, 3, 3);
  border-radius: 3px;
  border-bottom: none;
  color: white;
  font-weight: bold;
  padding: 10px;
  margin: 10px auto; 
}


/*Footer*/
footer{
  background: rgb(23, 88, 228);
  padding-bottom: 0.1px;
}
.footer-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 60px;
  padding-bottom: 40px;
}
.contact-us{
  width: 70%;
  color: #fff;

}
.brand{

  font-weight: 500;
  font-size: 40px;
}
.brand+p{
  font-weight: 500;

}

.social-media{
  width: 50px;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  gap: 31px;
  margin-right: 130px;
  text-decoration: none;
}
.fa-facebook-f{
  display: inline-block;
  font-size: 24px;
  width: 29px;
  height:30px;
  padding-left: 6px;
  padding-top: 5px;
  color: #fff;
  border-radius: 20px;
  background:  #1773EA;
} 

.fa-instagram{
  display: block;
  font-size: 30px;
  width: 29px;
  height:30px;
  padding-left: 1px;
  margin-left: 6px;
  margin-top: 1px;
  color: #fff;
  border-radius: 6px;
  border-width: 88px;
  background:  #cb287a;
}
.fa-pinterest{
  display: block;
  font-size: 30px;
  width: 29px;
  height:30px;
  margin-top: 1px;
  margin-left: 9px;
 color: red;
}
.fa-whatsapp-square{
  display: inline-block;
  font-size: 29px;
  height:29px;
  width: 28px;
  
  margin-top:1PX ;
  margin-left: 15px;
  color: greenyellow;
  border-radius: 3px;

background:#fff;
}
.line{
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  height: 2px;
  background: #fff;
  margin-bottom: 60px;
}


/*Resonsive*/

